a:hover {
    text-decoration: none;
}
a {
    text-decoration: none;
}

/* Navigation*/
nav {
    padding: 2em !important;
    position: sticky !important;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.35);
    -webkit-box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.35);
}

.navbar {
    background-color: var(--user-secondary--color);
}

nav img {
    filter: brightness(0) invert(1);
}

.nav-list-menu {
    align-self: center;
}

.nav-list-menu ul li a {
    padding-bottom: 0 !important;
    text-decoration: none;
}

.nav-list-menu ul li a:before {
    content: "{";
    color: whitesmoke;
    visibility: hidden;
}

.nav-list-menu ul li a:after {
    content: "}";
    color: whitesmoke;
    visibility: hidden;
}

.nav-list-menu ul li a:hover:after,
.nav-list-menu ul li a:hover:before {
    visibility: visible;
}

.nav-list-menu ul > li a {
    position: relative;
}

/* research this part more... */
.nav-list-menu ul li:first-child ul {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: var(--user-primary--color);
}

.nav-list-menu ul li:first-child ul li a {
    color: whitesmoke !important;
}

.nav-list-menu ul li:first-child ul li:hover {
    background-color: #ed1233;
}

.nav-list-menu ul li:first-child ul li {
    padding: 0.2em 0.3em;
}

.nav-list-menu ul li a {
    font-size: x-large;
}

.nav-list-menu ul > li:first-child:hover ul {
    visibility: visible;

}

.nav-list-menu ul > li:first-child ul {
    border-radius: 0.1em;
}

.nav-list-menu ul ul li a:hover:after,
.nav-list-menu ul ul li a:hover:before {
    visibility: hidden;
}

.nav-list-menu ul ul li a {
    font-size: larger;
}

/* main-content */
.main-content {
    width: 100%;
    display: block;
    padding-left: var(--body-margin) !important;
    padding-right: var(--body-margin) !important;
}

.jumbotron-img img {
    border: none !important;
}

/* potfolio container */
.img-border {
    position: relative;
    z-index: 1;
}

.img-border:after {
    position: absolute;
    content: "";
    top: 2%;
    left: 2%;
    right: 3%;
    width: 100%;
    height: 100%;
    background-color: var(--user-secondary--color);
    border: 3px solid var(--user-primary--color);
    border-radius: 5px;
    z-index: -1;
}

.contact-banner {
    background-color: var(--user-primary--color);
    display: flex;
    justify-content: space-between;
}

.banner-mail {
    align-self: center;
    background-color: #fff;

}

.banner-mail a {
    color: var(--user-primary--color);
}

.icon {
    text-align: center;
    margin: 1rem;
}

/* certificates */
.certificates {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.certificates .edu-content img {
    width: 4rem;
}

.edu-content {
    background-color: #f4f4f6;
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
    position: relative;
}

.edu-content p {
    padding-top: 0.5rem;
}

.edu-content img {
    filter: invert(11%) sepia(81%) saturate(6280%) hue-rotate(348deg) brightness(100%) contrast(89%);
}

.edu-content:hover,
.edu-content p:hover {
    background-color: var(--user-primary--color);
    color: var(--user-primary--color);

}

.hover-text {
    display: none;
}

.hover-text-style {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.skills-title,
.education-title {
    background-color: var(--user-primary--color);
    width: fit-content;
    color: #fff;
    padding: 0 2rem;

}

.skills-title span,
.education-title span {
    color: #fff;
}

.slider-container img {
    width: 2rem;
}

.slider-content {
    display: flex;
    justify-content: space-between;
}

.click-icon {
    display: block;
    align-self: center;
}

.main-home-content {
    margin: 0 auto;
    width: 90%;
}

.skills-table {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.skills-table img {
    width: 7rem;
}
.read-more-portfolio {
    background-color: var(--user-primary--color);
    color: #fff !important;
    padding: 3pt;
    white-space: nowrap;
    display: block;
    width: fit-content;
}
.hidden-block{
    text-align: center;
}
.img-header img{
    width: calc(100vw - 20px);
    margin-left: calc(-50vw + 50% + 10px);
}
.portfolio-text{
    text-align: justify !important;
}
#hide-about-text{
    display: block;
}
/*blog list image */
.com-content-category-blog img{
    width: 65%;
    height: 15rem;
    object-fit: cover;
}
.item-content {
    width: 65%;
    text-align: justify;
}

.item-content .readmore a {
    background-color: var(--user-secondary--color) !important;
    color: #fff !important;
    font-size: inherit;
    border-radius: 0.375rem !important;
}

/* image blog header */
.my-personal-blog  .item-image > img {
    margin-left: var(--body-margin-negative);
    margin-right: var(--body-margin-negative);
    width: calc(100% + var(--body-margin-width-fix));
    height: calc(130px + (650) * ((100vw - 300px) / (4000)));
    object-fit: cover;
}
.my-personal-blog :not(.item-image) {
    width: 80%;
    margin: 0 auto;
}
.my-personal-blog .page-header h1{
    text-align: center;
    padding: 3rem 1rem;
    margin-bottom: -3rem;
}
.my-personal-blog .page-header{
    position: relative;
    background-color: white;
    bottom: 5rem;
}
/* img-gallery */
.img-gallery{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 30px;
    margin: 0 auto;
}
.img-gallery img{
    width: 100%;
   /* height: 17rem; */
    object-fit: contain;
    cursor: pointer;
}
.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.full-img img{
    width: 100%;
    height: 30rem;
    object-fit: contain;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    color: #fff;
    font-size: x-large;
    cursor: pointer;
}
.certificates-img-gallery {
    padding: 2rem;
    background-color: #f4f4f6;
}
.three-blog img{
    height: 15rem;
}
.card-title{
    height: 6rem;
}
.card-body .card-title a h3{
    color: black;
}
.card-footer a:hover{
    text-decoration: underline !important;
}
footer{
    background-color: #1b2d4b;
}
footer p{
    color: #fff;
    margin-right: 1rem;
    text-align: right;
}
.footer{
    display: flex;
    justify-content: space-around;

}
.footer img{
    width: 4rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .portfolio-text {
        flex: 0 0 auto;
        width: 100%;

    }

    .portfolio-img {
        flex: 0 0 auto;
        width: 100%;
    }

    .certificates {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .contact-banner {
        display: flex;
        flex-direction: column;
    }

    .skills-table {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .card-title{
        height: 3rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .portfolio-text {
        flex: 0 0 auto !important;
        width: 100% !important;

    }

    .portfolio-img {
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .certificates {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .skills-table {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .card-title{
        height: 2rem;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .certificates {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .skills-table {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .portfolio-text {
        flex: 0 0 auto !important;
        width: 50% !important;

    }

    .portfolio-img {
        flex: 0 0 auto !important;
        width: 50% !important;
    }

    .certificates {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .skills-table {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .portfolio-text {
        flex: 0 0 auto !important;
        width: 50% !important;

    }

    .portfolio-img {
        flex: 0 0 auto !important;
        width: 50% !important;
    }

    .certificates {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
}