
a:hover {
    text-decoration: none;
}
/* Navigation*/
nav {
    padding: 2em !important;
    position: sticky !important;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.35);
    -webkit-box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.35);
}
.navbar {
    background-color: #00284d;
}
nav img {
    filter: brightness(0) invert(1);
}
.nav-list-menu {
    align-self: center;
}
.nav-list-menu ul li a {
    padding-bottom: 0 !important;
    text-decoration: none;
}
.nav-list-menu ul li a:before{
    content: "{";
    color: whitesmoke;
    visibility: hidden;
}
.nav-list-menu ul li a:after{
    content: "}";
    color: whitesmoke;
    visibility: hidden;
}
.nav-list-menu ul li a:hover:after,
.nav-list-menu ul li a:hover:before {
    visibility: visible;
}
.nav-list-menu ul ul{
    display: none;
}

.nav-list-menu ul ul li a:hover:after,
.nav-list-menu ul ul li a:hover:before {
    visibility: hidden;
}

