
a:hover {
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

/* Navigation*/
nav {
    padding: 2em !important;
    position: sticky !important;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.35);
    -webkit-box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.35);
}

.navbar {
    background-color: var(--user-secondary--color);
}

nav img {
    filter: brightness(0) invert(1);
}

.nav-list-menu {
    align-self: center;
}

.nav-list-menu ul li a {
    padding-bottom: 0 !important;
    text-decoration: none;
}

.nav-list-menu ul li a:before {
    content: "{";
    color: whitesmoke;
    visibility: hidden;
}

.nav-list-menu ul li a:after {
    content: "}";
    color: whitesmoke;
    visibility: hidden;
}

.nav-list-menu ul li a:hover:after,
.nav-list-menu ul li a:hover:before {
    visibility: visible;
}

.nav-list-menu ul > li a {
    position: relative;
}

/* research this part more... */
.nav-list-menu ul li:first-child ul {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    background-color: var(--user-primary--color);
}

.nav-list-menu ul li:first-child ul li a {
    color: whitesmoke !important;
}

.nav-list-menu ul li:first-child ul li:hover {
    background-color: #ed1233;
}

.nav-list-menu ul li:first-child ul li {
    padding: 0.2em 0.3em;
}

.nav-list-menu ul li a {
    font-size: x-large;
}

.nav-list-menu ul > li:first-child:hover ul {
    visibility: visible;

}

.nav-list-menu ul > li:first-child ul {
    border-radius: 0.1em;
}

.nav-list-menu ul ul li a:hover:after,
.nav-list-menu ul ul li a:hover:before {
    visibility: hidden;
}

.nav-list-menu ul ul li a {
    font-size: larger;
}

/* main-content */
.main-content {
    width: 100%;
    display: block;
    padding-left: var(--body-margin) !important;
    padding-right: var(--body-margin) !important;
}

.jumbotron-img img {
    border: none !important;
}

/* potfolio container */
.img-border {
    position: relative;
    z-index: 1;
}

.img-border:after {
    position: absolute;
    content: "";
    top: 2%;
    left: 3%;
    right: 3%;
    width: 100%;
    height: 100%;
    background-color: var(--user-secondary--color);
    border: 3px solid var(--user-primary--color);
    border-radius: 5px;
    z-index: -1;
}

.contact-banner {
    background-color: var(--user-primary--color);
}

.contact-banner td:nth-child(2) {
    background-color: white;
    text-decoration: none !important;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: -55pt;
    display: inline-block;
    padding-top: 10pt;
    padding-bottom: 12pt;
    padding-left: 14pt;
    padding-right: 14pt;
}

.skills-table {
    margin: 0 auto;
    width: 70%;
}

.skills-table .table tr td img {
    width: 7rem;
}

.icon {
    text-align: center;
    margin: 1rem;
}

/* certificates */
.certificates .container img {
    width: 4rem;
}

.edu-content {
    background-color: #f4f4f6;
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
    position: relative;
}

.edu-content p {
    padding-top: 0.5rem;
}

.edu-content img {
    filter: invert(11%) sepia(81%) saturate(6280%) hue-rotate(348deg) brightness(100%) contrast(89%);
}

.edu-content:hover,
.edu-content p:hover {
    background-color: var(--user-primary--color);
    color: var(--user-primary--color);

}

.hover-text {
    display: none;
}

.hover-text-style {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.skills-title,
.education-title {
    background-color: var(--user-primary--color);
    width: fit-content;
    color: #fff;
    margin: 2rem;
    padding: 0 2rem;

}

.skills-title span,
.education-title span {
    color: #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .portfolio-text {
        flex: 0 0 auto;
        width: 100%;
    }

    .portfolio-img {
        flex: 0 0 auto;
        width: 100%;
    }

    .skills-table .table tr td img {
        width: 4rem;
    }

    .icon {
        margin: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .portfolio-text {
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .portfolio-img {
        flex: 0 0 auto !important;
        width: 100% !important;
    }

    .skills-table .table tr td img {
        width: 4rem !important;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .skills-table .table tr td img {
        width: 5rem !important;
    }

    .certificates table tr td img {
        width: 3rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .portfolio-text {
        flex: 0 0 auto !important;
        width: 50% !important;
    }

    .portfolio-img {
        flex: 0 0 auto !important;
        width: 50% !important;
    }

    .skills-table .table tr td img {
        width: 6rem !important;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .portfolio-text {
        flex: 0 0 auto !important;
        width: 50% !important;
    }

    .portfolio-img {
        flex: 0 0 auto !important;
        width: 50% !important;
    }

    .skills-table .table tr td img {
        width: 6rem !important;
    }
}